#
# Ansible managed
#
[Unit]
Description=Dedibox Exporter for Prometheus
After=network-online.target

[Service]
Type=simple
User=dedibox-exporter
Group=dedibox-exporter
PermissionsStartOnly=true
EnvironmentFile=/etc/default/dedibox-exporter
ExecStart={{ _dedibox_exporter_binary_install_dir }}/dedibox-exporter \
  -listen-address={{ dedibox_exporter_address }}:{{ dedibox_exporter_port }} \
  -metric-path={{ dedibox_exporter_metric_path }} \
  {% for collector in dedibox_exporter_collectors %}
  -collector={{ collector }} \
  {% endfor %}
  -log-level={{ dedibox_exporter_log_level }}

SyslogIdentifier=dedibox-exporter
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
